{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'jobs/styles.css' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todos.com</title>
  </head>
  <body>
    <div class="banner">
      <h1>GIT'ER DONe!!!</h1>
    </div>
    <div class="entry-field">
      <form action="{% url 'add' %}" method="POST" role="form">
        {% csrf_token %} {{ form.item }}
        <button class="add-item submit" type="submit">Add To List</button>
      </form>
    </div>
    <div class="main">
      <ul class="todos">
        {% for todoItem in todo_items %} {% if todoItem.completed %}
        <li class="completed">{{todoItem.item}}</li>
        {% else %}
        <li>
          <a href="{% url 'completeToDo' todoItem.id %}">{{todoItem.item}}</a>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>
    <a href="{% url 'deleteCompleted' %}">
      <button class="purge-button" type="submit">PURGE COMPLETED ITEMS</button>
    </a>
    <a href="{% url 'deleteAll' %}">
      <button class="purge-button" type="submit">
        DELETE ALL TODO-LIST ITEMS
      </button>
    </a>
  </body>
</html>
