{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'jobs/styles.css' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todos.com</title>
  </head>
  <body>
    <div class="banner">
      <h1>GIT'ER DONe!!!</h1>
    </div>
    <div class="entry-field">
      <input type="text" class="add-item" placeholder="to do..." />
      <button class="add-item submit">Add To List</button>
    </div>
    <div class="main">
      <ul class="todos">
        {% for foo in todo_items %} {% if foo.completed %}
        <li class="completed">{{todolist.item}}</li>
        {% else %}
        <li><a href="#">{{foo.item}}</a></li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </body>
</html>
